.logo {
    width: 175px;
    height: 142px;
}

.container {
    margin-right: 1px;
    margin-left: 1px;
}

.perbutton {
    margin-top: 30px;
}

.me {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.tablist {
    float: left;
}

.line {
    background-color: black;
    height: 3px;
    width: 865px;
}

.socialmedia {
    float: left;
    margin: 25px;
    width: 50px;
    height: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }

.submenu{
    font-size: 15px;
    color: black;
}

.image-contain {    
    overflow: hidden;
}

.img {
    border-radius: 2px;
    box-shadow: 0 0 5px #343436;
    filter:brightness(1.1);
    height: 500px;
    width: 700px;
}

.img {
    border-radius: 2px;
    box-shadow: 0 0 5px #343436;
    filter:brightness(1.1);
    height: 600px;
    width: 700px;
}

.img:target {
    height: 450px;
    width: 500px;
}

.img:target+.close {
    display: block;
}

.img:target+.close+.expand{
    display: none;
}

.close {
    background-repeat: no-repeat;
    bottom: 418px;
    display: none;
    height: 32px;
    left: 462px;
    margin-top: -32px;  
    position: relative;
    width: 32px;
}

.expand{
    bottom: 125px;
    margin-left: -32px;
    margin-right: 16px;
    pointer-events: none;
    position: relative;
}

#wrapper {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 500px;
}

#mfwebsite {
    width: 90%;
    height: 40%;
}

.topnav {
    overflow: hidden;
}

.topnav .icon {
    display: none;
}

.topnav {
    overflow: hidden;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
}
  
.topnav a:hover {
    color: black;
}
  
.active {
    color: white;
}
  


/*RESPONSIVE MENU CSS AND JAVA*

<style>

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>













/*Image Zoom Testing Stuff*

.img {
    border-radius: 2px;
    box-shadow: 0 0 5px #343436;
    filter:brightness(1.1);
    height: 150px;
    width: 200px;
}
.img:target {
    height: 450px;
    width: 500px;
}
.img:target+.close {
    display: block;
}
.img:target+.close+.expand{
    display: none;
}
.close {
    background-image: url(https://bit.ly/29QeT21);
    background-repeat: no-repeat;
    bottom: 418px;
    display: none;
    height: 32px;
    left: 462px;
    margin-top: -32px;  
    position: relative;
    width: 32px;
}
.expand{
    bottom: 125px;
    margin-left: -32px;
    margin-right: 16px;
    pointer-events: none;
    position: relative;
}
#wrapper {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 500px;
}
body{
    background-image: linear-gradient(to bottom, #178FDD  68px,  antiquewhite 68px  );
    height: 1000px;
}
h2{
    color: #000;
    font-family: bungee shade, georgia;
    text-align: center;
    text-shadow: 0 0 2px #343436; 
}
